<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
Пользователи:
<div th:each="user:${users}">
<a th:href="@{/user(id=${user.getId()})}" th:text="${user.getUsername()}"></a>
</div>
<br>
<hr>
<div th:insert="fragments::logoutButton"></div>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/admin"><button>Администрирование</button></a>
</div>
</body>
</html>